<%= form_with model: [ model, model.comments.build ] do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>