<p><%= @user.email %></p>
<p><%= @user.display_name %></p>
<p><%= @user.username %></p>
<p><%= @user.birthday %></p>

<%= form_with model: FriendRequest.new do |form| %>
  <%= form.hidden_field :reciever_id, value: @user.id %>
  <%= form.submit %>
<% end %>