<%= form_with model: Post.new  do |form| %>
  

  <div>
    <%= form.label :public_status, style: "display: block" %>
    <%= form.check_box :public_status %>
  </div>

   
    <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.label :text_content, style: "display: block" %>
    <%= form.text_area :text_content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
