<div id="<%= dom_id post %>" class="post">

<div class="post-main-content">
  <p class="poster-name">
    <%= link_to post.user.display_name, post.user %>
  </p>

  <p class="time">@<%= post.created_at.to_fs(:long) %> </p>

  <br>

  <p class="post-contents">
    <%= post.text_content %>
  </p>
  <br> 

  <div class="like-block">
  <% unless post.likes.where(user: current_user).exists? %>
  <%= form_with model: [post, post.likes.build] do |form| %>
    <%= form.hidden_field :likeable_id, value: post.id %>
    <%= form.hidden_field :likeable_type, value: "Post" %>
    <%= image_submit_tag("thumb-up.svg", height: 15, class: "filter-dsds") %> <p> <%= post.likes.count %></p>
  <% end %>
  <% else %>
    <%= button_to image_tag("thumb-up.svg", height: 15, class: 'filter-main'), [post, post.likes.where(user: current_user)[0]], method: :delete %> <p> <%= post.likes.count %> </p>
  <% end %> </div>

  </div>


  <br>
  <div class="post-comments">
  <%= render post.comments %>
  </div>
  <%= render 'comments/form', model: post %>

</div>
