<div id="<%= dom_id post %>">

  <p>
    <strong>User:</strong>
    <%= link_to post.user.display_name, post.user %>
  </p>

  <p>
    <strong>Text content:</strong>
    <%= post.text_content %>
  </p>

  <p><strong>Likes: </strong> <%= post.likes.count %>

  <%= render 'comments/form', model: post %>

</div>
