<nav class="nav-bar">
      <% if user_signed_in? %>
      <div class="left-nav">
      <div class="home">
        <%= link_to image_tag("home.svg", height: 30, class: 'filter-main'), root_path %>
      </div>

      <div class="profile-button">
      <%= link_to image_tag("account.svg", height: 30, class: 'filter-main'), current_user %>
      </div>

      <div class="notifications">
        <%= link_to image_tag("bell.svg", height: 30, class: 'filter-main'), "/notifications" %>
      </div>
      </div>

      <div class="logo">
        <p>FakeBook</p>
      </div>

      <div class="right-nav">
      <div class="friend-requests">
        <div class="dropdown">
          <button><%= image_tag "friend-icon.svg", height: 30, class: 'filter-pearl' %></button>
            <div class="dropdown-options">
            <% current_user.received_frequests.each do |request| %>
              <%= link_to request.sender.display_name, friendships_path(friendship: {friendee_id: current_user.id, friendor_id: request.sender.id}, friend_request_id: request.id), data: {turbo_method: "post"} %>
              <% end %>
            </div>
          </div>
      </div>

      <div class="direct-messages">
        <%= image_tag("message.svg", height: 30, class: 'filter-main') %>
      </div>

      <div class="sign-out">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>

      </div>
        
      <% else %>
        <%= link_to "sign in", new_user_session_path %>
        <%= link_to "sign up", new_user_registration_path %>
      <% end %>
    </nav>