<div class="left-sidebar">
  <div class="home">
  <%= link_to image_tag("home.svg", height: 30, class: 'filter-main') + "Home", root_path %>
  </div>
  <div class="friends">
  <%= link_to image_tag("home.svg", height: 30, class: 'filter-main') + "Friends", root_path %>
  </div>
  <div class="groups">
  <%= link_to image_tag("home.svg", height: 30, class: 'filter-main') + "Groups", root_path %>
  </div>
  <div class="messages">
  <%= link_to image_tag("message.svg", height: 30, class: 'filter-main') + "Messages", root_path %>
  </div>
  <div class="make-post">
  <%= link_to image_tag("home.svg", height: 30, class: 'filter-main') + "Post", root_path %>
  </div>
</div>